//==========================
// CSS RULES FOR FOOTER
//==========================

// Getting root rules from _root.scss
@use 'root' as root;

footer {
    width: 100%;
    padding: root.$header-padding-y root.$header-padding-x;
    background-color: root.$primary;
}