//==========================
// CSS RULES FOR THE ENTIRE SITE
//==========================

// Getting root rules from _root.scss
@use 'root' as root;

@import "../modules/frameworks/bootstrap";
// @import "../modules/frameworks/bulma";
// @import "../modules/frameworks/foundation";
// @import "../modules/frameworks/uikit";


@import "typography";

@import "header";
@import "footer";

@import "animations";
@import "mobile";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}