@use 'root' as root;

.notificationBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: root.$header-height;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 30vw;
    padding: 18px;
    border-radius: 15px;
    gap: 15px;

    background-color: rgba(0, 0, 0, 0.9);
    
    transition: opacity 0.5s ease, transform 0.5s ease;

    .spinner {
        width: 20px;
        height: 20px;
        border: 3px solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        animation: spin .75s linear infinite;
        filter: drop-shadow(0 0 5px currentColor);
    }

    /* Varianti */
    &.success {
        box-shadow: 0 0 2px #2ecc71, 0 0 15px rgba(46, 204, 113, 0.6), 0 0 40px rgba(46, 204, 113, 0.2);
        color: #2ecc71;
        text-shadow: 0 0 2px #2ecc71, 0 0 15px rgba(46, 204, 113, 0.6), 0 0 40px rgba(46, 204, 113, 0.2);
    }

    &.info {
        box-shadow: 0 0 2px #f1c40f, 0 0 15px rgba(241, 196, 15, 0.6), 0 0 40px rgba(241, 196, 15, 0.2);
        color: #f1c40f;
        text-shadow: 0 0 2px #f1c40f, 0 0 15px rgba(241, 196, 15, 0.6), 0 0 40px rgba(241, 196, 15, 0.2);
    }

    &.error {
        box-shadow: 0 0 2px #e74c3c, 0 0 15px rgba(231, 76, 60, 0.6), 0 0 40px rgba(231, 76, 60, 0.2);
        color: #e74c3c;
        text-shadow: 0 0 2px #e74c3c, 0 0 15px rgba(231, 76, 60, 0.6), 0 0 40px rgba(231, 76, 60, 0.2);
    }

    /* Stato di uscita */
    &.fade-out {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}