<header>
  <nav>
      <a class="logo" href="/">
        <img src="{{ site.logo }}" alt="{{ site.title }}" height="40">
      </a>
    <div class="nav-links">
      <a class="btn btn-primary" href="/">Homepage</a>
      <a class="btn btn-primary" href="/another-page">Another page</a>
    </div>
    <div class="nav-links">
      <a class="btn btn-primary" href="/">ExtraBtn1</a>
      <a class="btn btn-primary" href="/">ExtraBtn2</a>
    </div>
  </nav>
</header>