<footer>
    <div>
      <h6>{{ site.title }}</h6>
      <p>{{ site.description }}</p>
    </div>

    <div>
      <h6>Sitemap</h6>
      <ul>
        <li><a href="/">Homepage</a></li>
      </ul>
    </div>
    <div>
      &copy; {{ site.copyright.year }} {{ site.name }} {{ site.copyright.text }}
    </div>
    <div>
      <h6>Legal</h6>
      <small>
        <ul>
          <li><a href="{{ site.legal.privacy }}">Privacy Policy</a></li>
          <li><a href="{{ site.legal.cookie }}">Cookie Policy</a></li>
          <li><a href="{{ site.legal.terms }}">Terms and conditions</a></li>
        </ul>
      </small>
    </div>
  </div>
</footer>