<footer>
  <div>
    <h6>{{ site.title }}</h6>
    <p>{{ site.description }}</p>
  </div>
  <div>
    <h6>Legal</h6>
    <small>
      <ul>
        <li><a href="{{ site.legal.privacy }}">Privacy Policy</a></li>
        <li><a href="{{ site.legal.cookie }}">Cookie Policy</a></li>
        <li><a href="{{ site.legal.terms }}">Terms and conditions</a></li>
      </ul>
    </small>
  </div>
  <div>
    <h6>
      &copy; {{ site.legal.copyright.year }}
      {{ site.site_name }}
    </h6>
    <h6>
      {{ site.legal.copyright.text }}
    </h6>
  </div>
</footer>
