//==========================
// CSS RULES FOR BUTTONS
//==========================

// Getting root rules from _root.scss
@use 'root' as root;

.btn {
  color: #bddacc;
  border-radius: 12px;
  padding: 8px 20px;
  transition: background 0.2s, color 0.2s;

  &:hover {
    background: #42b883;
    color: #353535;
  }

  &:active {
    background: #42b883 !important;
    color: #353535 !important;
  }
}