---
layout: base.njk
---

<!-- NJK (HTML) components per page -->
 
{% if title == "homepage" %}
  {% include "welcome.njk" %}

{% elif title == "examplePage" %}
  {#{% include "component.njk" %}#}

{% else %}
  {% include "404/_404.njk" %}
  {{ content | safe }}
{% endif %}