---
layout: base.njk
---

<!-- NJK (HTML) components per page -->
 
{% if title == "homepage" %}
  {% include "exampleComponent.njk" %}

{% else %}
  {% include "404/_404.njk" %}
  {{ content | safe }}
{% endif %}