---
title: "anotherPage"
permalink: "/another-page/"
layout: includes.njk
extra_css_cdn: |
extra_js_cdn: |
---

{# You can add any additional cdn you need up here (1 cdn link for each line) for this specific page or just add them to base.njk file #}

{# extra_css_cdn: | #}
{# <link rel="stylesheet" href="https://cdn.example.com/style1.css"> #}
{# <link rel="stylesheet" href="https://cdn.example.com/style2.css"> #}

{# extra_js_cdn: | #}
{# <script src="https://cdn.example.com/script1.js"></script> #}
{# <script src="https://cdn.example.com/script2.js"></script> #}

<!-- !IMPORTANT -->
<!-- DO NOT ADD ANYTHING HERE -->
<!-- YOU SHOULD CREATE A NEW COMPONENT.NJK INTO SRC/COMPONENTS AND INCLUDE THAT IN LAYOUTS/INCLUDES.NJK-->