<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/

    # 1. Permetti index.php
    RewriteRule ^index\.php$ - [L]

    # 2. Invece di dare Forbidden [F], manda tutto a index.php
    # Questo copre config.php e tutte le sottocartelle
    RewriteRule \.php$ index.php [L]
    RewriteRule ^(core|endpoints|modules|vendor)($|/) index.php [L]

    # 3. Regola per gli endpoint
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>