<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                
                <!-- 1. Permetti l'esecuzione diretta solo a index.php -->
                <rule name="Allow API index.php" stopProcessing="true">
                    <match url="^core/index\.php$" ignoreCase="true" />
                    <action type="None" />
                </rule>

                <!-- 2. Front Controller: Invia TUTTO il resto a index.php -->
                <!-- Nessun controllo sull'esistenza di file o directory. -->
                <rule name="API Endpoints Front Controller Catch-All" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="true" />
                    <action type="Rewrite" url="core/index.php" appendQueryString="true" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>