<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />

        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="403" />
            <remove statusCode="404" />
            <error statusCode="403" path="/404.html" responseMode="ExecuteURL" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>

        <rewrite>
            <rules>
                <rule name="BlockFiles" stopProcessing="true">
                    <match url="^(web\.config|llms\.txt|robots\.txt|sitemap\.xml|\.htaccess|\..*)$" ignoreCase="true" />
                    <action type="Rewrite" url="/404.html" />
                </rule>

                <rule name="ApiRoute" stopProcessing="true">
                    <match url="^api/(.*)$" ignoreCase="true" />
                    <action type="Rewrite" url="backend/_core/index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>