<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="Custom" existingResponse="Auto">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>

    <rewrite>
      <rules>
        <rule name="Ignore API Directory" stopProcessing="true">
          <match url="^api(/.*)?$" ignoreCase="true" />
          <action type="None" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>

  </system.webServer>

  <system.web>
    <compilation tempDirectory="D:\AspNetTemp\site\webfixer.it" />
  </system.web>
</configuration>