<div class="container fade-in">
  <h1>This is components/_exampleComponent.njk content</h1>
  <h2 data-lang-key="test"></h2>

  <div class="btn-group" role="group">
    <input type="radio" class="btn-check" name="lang-switcher" id="lang-en" value="en"/>
    <label class="btn btn-outline-primary" for="lang-en" data-lang-key="enLangName"></label>

    <input type="radio" class="btn-check" name="lang-switcher" id="lang-it" value="it"/>
    <label class="btn btn-outline-primary" for="lang-it" data-lang-key="itLangName"></label>
  </div>
</div>