<div class="container fade-in">
  <h1>This is components/exampleComponent.njk content</h1>
  <h2 data-lang-key="test"></h2>

  <div class="btn-group" role="group">

    {# enLangName is the key that contains the language name accordint to the current language #}
    <input type="radio" class="btn-check" name="lang-button" id="lang-en" value="en"/>
    <label class="btn btn-outline-primary" for="lang-en" data-lang-key="enLangName"></label>

    {# itLangName is the key that contains the language name accordint to the current language #}
    <input type="radio" class="btn-check" name="lang-button" id="lang-it" value="it"/>
    <label class="btn btn-outline-primary" for="lang-it" data-lang-key="itLangName"></label>
  </div>
</div>