//==========================
// CSS MODULES IMPORTS
//==========================

// Use @use with a namespace to avoid framework variable conflicts:
// Example: root.$primary
@use "../modules/root" as root;

// This global module contains the import framework, necessary modules for each page and any other common styles
@import "../modules/global";

// Import any other module you need by import down here
@import "../modules/notification";

//==========================
// PAGE CUSTOM CSS RULES
//==========================

// Add any custom rule specific to this page below
// These rules override the framework and module styles
.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    text-align: center;
}