---
title: "404"
permalink: 404.html
layout: base.njk
extra_css_cdn: |
extra_js_cdn: |
---

{# You can add any additional cdn you need up here (1 cdn link for each line) for this specific page or just add them to base.njk file #}

{# extra_css_cdn: | #}
{# <link rel="stylesheet" href="https://cdn.example.com/style1.css"> #}
{# <link rel="stylesheet" href="https://cdn.example.com/style2.css"> #}

{# extra_js_cdn: | #}
{# <script src="https://cdn.example.com/script1.js"></script> #}
{# <script src="https://cdn.example.com/script2.js"></script> #}


<!-- !IMPORTANT -->
<!-- This is the only page that you need to modify statically -->

<div class="container fade-in">
  <h1>Oops! Page not found</h1>
  <div><a href="/" title="Return to homepage">Return to homepage</a></div>
</div>

{# You can also add the includes you need here below
{% include "_exampleComponent.njk" %} #}
