<footer>
  <div class="footer-top">
    <div>
      <h6>{{ site.title }}</h6>
      <p>{{ site.description }}</p>
    </div>

    <div>
      <h6>Sitemap</h6>
      <ul>
        <li><a href="/">Homepage</a></li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="footer-bottom">
    <p>&copy; {{ site.copyright.year }} {{ site.name }} {{ site.copyright.text }}.</p>
    <small>
      <a href="{{ site.legal.privacy }}">Privacy Policy</a>
      <a href="{{ site.legal.cookie }}">Cookie Policy</a>
      <a href="{{ site.legal.terms }}">Terms and conditions</a>
    </small>
  </div>
</footer>