<header>
  <nav>
      <a class="logo" href="/">
        <img src="{{ site.logo }}" alt="{{ site.title }}" height="40">
      </a>
    <div class="nav-links">
      <a class="btn" href="/">Homepage</a>
      <a class="btn" href="/example-page">Example page</a>
      <a class="btn" href="/about-us">About-us</a>
    </div>
    <div class="nav-links">
      <a class="btn" href="/contact-us">Contact us</a>
    </div>
  </nav>
</header>