<header>
  <nav>
      <a class="logo" href="/">
        <img src="{{ site.logo }}" alt="{{ site.title }}" height="40">
      </a>
    <div class="nav-links">
      <a class="btn btn-outline-info" href="/">Homepage</a>
      <a class="btn btn-outline-info" href="/about-us">About-us</a>
      <a class="btn btn-outline-info" href="/contact-us">Contact us</a>
    </div>
    <div class="nav-links">
      <select id="lang-select" class="form-select">
        {# enLangName or itLangName is the key that contains the language name accordint to the current language #}
        <option value="en" data-lang-key="enLangName"></option>
        <option value="it" data-lang-key="itLangName"></option>
      </select>
    </div>
  </nav>
</header>